.card:hover > .card-menu {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    visibility: visible;
    border-radius: 0 0 4px 4px;
}

.card-menu {
    height: 0;
    background-color: #3c3c3e;
    color: white;
    visibility: hidden;
}