@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Raleway:ital,wght@1,100&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

.book-information-content {
    display: grid;
    grid-template-areas: "card informations";
    color: white;
    max-width: 100%;
    margin: 20vh 0 30vh;
    gap: 90px;
}

.book-information-content .frase {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    text-align: center;
    font-size: clamp(1em, 1em + 1.1vw, 3em);
    max-width: 650px;
    margin-top: 10vh;
}

.book-information-content-card {
    width: 200px;
    margin: 0 auto;
    grid-area: card;
}

.book-information-content-details {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    text-align: justify;
    grid-area: informations;
    opacity: 0.98;
    margin: 5vh 0;
}

.book-information-content-details h6, p {
    font-family: 'Open Sans', sans-serif;
}

.book-information-content-details h6 {
    margin-bottom: 10px;
}

.book-information-content-details p {
    font-weight: 100;
}

.book-information-content-details-menu {
    margin: 5px 0;
    text-align: right;
    order: 2;
}

.book-information-content-details-content {
    order: 1;
}

.book-information-content-details-menu button {
    color: white;
}

@media screen and (max-width: 720px) {
    .book-information-content {
        margin: 20vh 0 10vh;
        gap: 0;
        grid-template-areas: 
        "card"
        "informations";
    }

    .book-information-content-details-menu {
        margin: auto;
        order: 1;
    }

    .book-information-content-details-content {
        margin-top: 20vh;
        order: 2;
    }

    .book-information-content-card {
        width: 250px;
    }
}