header {
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition:  all ease 0.5s;
}

header.white {
    background:white;
}

header.white .header-links-li a {
    color:#3c3c3e;
}

.header-logo {
    height: 65px; 
    margin-right: 20px;   
}

.header-logo img {
    height: 100%;
}

.header-options, .header-links {
    display: flex;
    justify-content: center;
}

.header-links-li {
    list-style-type: none;
    margin-left: 18px;
}

.header-links-li.first {
    margin-left: 0px;
}

.header-links-li a {
    text-decoration: none;
    color: #E0E0E0;
}

header.white .header-links-li a:hover, .header-links-li a:hover {
    color: #fc4f00;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
    .header-logo {
        height: 35px;    
    }

    .header-links-li {
        margin-left: 12px;
    }
}