.default-main {
    position: absolute;
    width: calc(100% - 20vh);
    z-index: 3;
    top: 75vh;
    margin: 10vh;
}

@media screen and (min-width: 100px) and (max-width: 576px) {
    .default-main {
        width: calc(100% - 16vh);
        margin: 8vh;
    }
}